.idea

#module00
**/phonebook
**/megaphone
**/account

#module01
**/brainz
**/moreBrainz
**/hiBrainz
**/violence
**/sed
**/**.replace
**/harl2
**/HarlFilter

#module02
**/canon
**/utileClass
**/overload
**/bsp

#module02
**/claptrap
**/scavtrap
**/fragtrap
**/diamondtrap

#module03
**/claptrap
**/scavtrap
**/fragtrap
**/diamondtrap

#module04
**/polymorphisme
**/burn
**/abstract
**/materia

#module05
**/bureaucrat
**/form
**/specialForm
**/*_shrubbery
**/intern

#module06
**/conv

**/Placeholder
**/placeholder
**/test
**/test**
**/obj

**/.DS_Store
**.dSYM
*.dylib
*.out
*.o
